
*{
    padding: 0;
    margin: 0;
}
span{
    padding-left:3.9rem ;
}

.header{
    background: #fff;
    width: 100%;
    height: 50px;
    
    
    
}
.content{
    background:#634a88;
    width: 100%;
    height: 100vh;
}
.logo{
    margin-left: 37%;
    margin-top: 170px;
    width: 500px;
}
.para{
    /* margin-left: 37%; */
    padding-left: 40rem;
    padding-top: 50px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
}
.icon{
   
padding-left: 350px;
letter-spacing: 20px;
   


}
.icon :hover{
    cursor: pointer;
}

.header a{
    padding-left: 30px;
    color: black;
    text-decoration: none;
    
   
}
.header a:hover{
 color: rgb(170, 224, 21);
 
}

.title{
    padding-left: 20rem;
    padding-top: 1.1rem;
    display: flex;
}
.content2{
    width: 100%;
    height: 115rem;
    background: #ffffffff;
}
.head{
    color: #555;
    /* padding-left: 38%; */
    font-family: inherit;
    line-height: 1.5;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.1;
    

}
.para2{
   font-size: 21px;
   /* padding-left: 450px; */
   color: #555;
   font-weight: 300;
   line-height: 1.4;
   text-align: center;
}
.para3{
    text-decoration: none;
}
.images1{
  
   width: 95%;
   height: 300px;
   
  
}
.images{
    display: flex;
    margin-left: 350px;
    gap: 35px;
    margin-top: 50px;
    text-align: center;
    font-family:sans-serif;
    color: #555;
    font-size: 18px;
    line-height: 1.4;
}
.images2{
    display: flex;
    margin-left: 350px;
    gap: 35px;
    margin-top: 70px;
    text-align: center;
    font-family:sans-serif;
    color: #555;
    font-size: 18px;
    line-height: 1.4;
}
.images3{
    display: flex;
    margin-left: 350px;
    gap: 35px;
    margin-top: 70px;
    text-align: center;
    font-family:sans-serif;
    color: #555;
    font-size: 18px;
    line-height: 1.4;
}
.para4{
    text-align: center;
    margin-top: 44px;
    font-family: sans-serif;
    color: #555;
    font-size: 20px;
    font-weight: 300;
}
.part-1{
    text-decoration: none;
}
.content3{
    width: 100%;
    height: 700px;
    background: #fff8f8;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.6;
    padding-top: 60px;
    color: #555;
}
hr.new1 {
    border-top: 1px solid rgb(241, 234, 234);
    margin-top: 20px;
  
  }
  .para5{
    text-decoration: none;
  }
.icons{
    width: 100%;
   line-height: 40px;
    /* padding-left: 90px; */
    font-size: 20px;
   

   
}
.icons1{
    line-height: 10px;
    /* font-size: 0px; */
    display: flex;
    width: 1300px;
    margin-top: 60px;
    margin-left: 310px;
  
}

#ic1{
    font-size: 120px;
}
#ic2{
    margin-top: 0px;
    font-size: 110px;
}
#ic3{
    font-size: 120px;
}
hr.new1 {
    border-top: 1px solid rgb(241, 234, 234);
    margin-top: 1px;
  
  }
.last{
    width: 100%;
    height: 600px;
    background: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 1.5;
    padding-top: 100px;
    color: #555;
    font-family: sans-serif;
}
.para6{
    padding-top: 50px;
    font-size: 18px;
    color: #555;
}
.add{
    text-decoration: none;
}
hr.new1 {
    border-top: 1px solid rgb(241, 234, 234);
    margin-top: 1px;
}
.last1{
    width: 100%;
    height: 300px;
    background: #fff;
    text-align: center;
    padding-top: 100px;
    color: #555;
    font-size: 25px;
    font-family: sans-serif;
}

#text-box{
    width: 300px;
    height: 40px;
}

#sub{
    padding: 12px 30px 12px 30px;
    background: #384172;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
/* .footer{
    background-color: #384172;
} */
.footercontainer{
    width: 100%;
    /* padding: 70px 30px 20px; */
    height: 120px;
    background: #384172;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    list-style: none;
}
.footernav ul li a{
    color: #c5b4b4;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    /* transition: 0.5s; */

}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: #384172;
    padding: 20px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 20px;

}
.footerbottom p{
    color: #fff;
}
.de